<div class="row">
  <div class="small-11 small-centered medium-10 medium-centered large-9 large-centered column clearfix">
    <footer>
      <div class="row">
        <div class="text-left small-6 medium-6 large-6 column clearfix">
          {{ site.time | date: '%Y' }} © <a href="/">Nairuby</a>
        </div>
        <div class="text-right small-6 medium-6 large-6 column clearfix">
          <a href="{{ site.nairuby.github_url }}" target="_blank"><i class="fa fa-github"></i> GitHub</a> |
          <a href="{{ site.nairuby.gitlab_url }}" target="_blank"><i class="fa fa-gitlab"></i> GitLab</a> |
          <a href="{{ site.nairuby.twitter_url }}" target="_blank"><i class="fa fa-twitter"></i> Twitter</a> |
          <a href="{{ site.nairuby.facebook_url }}" target="_blank"><i class="fa fa-facebook"></i> Facebook</a> |
        </div>
      </div>
    </footer>
  </div>
</div>
