<head>

  <!-- +++ META +++ -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- +++ PAGE INFO +++ -->
  <title>{{ page.title }} • {{ site.name }}</title>

  <!-- +++ FAVICON & ICONS: combined 16, 32 & 48 +++ -->
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

  <!-- +++ STYLESHEETS +++ -->
  <link rel="stylesheet" href="/assets/stylesheets/normalize.css">
  <link rel="stylesheet" href="/assets/stylesheets/foundation.min.css">
  <link rel="stylesheet/less" href="/assets/stylesheets/application.less">

  <!-- +++ JAVASCRIPTS +++ -->
  <script type="text/javascript" src="/assets/javascripts/vendor/modernizr.js"></script>
  <script type="text/javascript" src="/assets/javascripts/vendor/jquery.js"></script>
  <script type="text/javascript" src="/assets/javascripts/vendor/less.min.js"></script>
  <script type="text/javascript" src="/assets/javascripts/foundation.min.js"></script>
  <script type="text/javascript" src="/assets/javascripts/application.js"></script>

</head>
