@font_color: hsl(228, 14%, 36%);
@background_color: #fff;
@border_color: hsl(  0,  0%, 80% );
@link_color: hsl(358, 30%, 40%);

html, body {
  color: @font_color;
  background-color: @background_color;
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {font-size: 1.3rem; }
h2 {font-size: 1.25rem; }
h3 {font-size: 1.15rem; }
h4 {font-size: 1.1rem; font-style: italic; }
h5 {font-size: 1rem;   font-style: italic; }
h6 {font-size: 1rem;   font-style: italic; }


a, a:visited { color: @link_color; }
a:hover      { text-decoration: underline; }

header {
  margin-bottom: 1.5em !important;

  > div {
    padding-bottom: 10px;
  }
}

footer {
  font-size: 0.85em;
  margin-top: 2em !important;

  > div {
    border-top: 1px solid @border_color;
    padding-top: 10px;
  }
}

ul {
  li {
    margin-bottom: 0.5em;
    ul {
      margin-bottom: 1.25em;
    }
  }
}

#wrapper {
  padding-bottom: 10%;
  padding-top: 5%;
}
