<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

{% include head.html %}

<body>

  <div id="wrapper">
    {% include header.html %}

    <div class="row">
      <div class="small-11 small-centered medium-8 medium-centered large-7 large-centered column clearfix">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
  </div>

  <script>
    $(document).foundation();
  </script>

  {% include google-analytics.html %}

</body>
</html>
