<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

{% include head.html %}

<body>

  <div id="wrapper">

    <div class="row text-center">
      <div class="small-11 small-centered medium-10 medium-centered large-9 large-centered column clearfix">
        <header>
          <a href="/"><img src="/assets/images/logo_128x128.png" width="64" height="64"></a>
          <h1 class="title">Nairuby</h1>

          <br/>
          <a href="/about/code-of-conduct/">
            <span class="radius secondary label" style="font-size: 0.8rem;">Conduct</span>
          </a>
          <a href="/events/">
            <span class="radius secondary label" style="font-size: 0.8rem;">Events</span>
          </a>
          <a href="/learn/">
            <span class="radius secondary label" style="font-size: 0.8rem;">Learning</span>
          </a>
          <a href="/about/members/">
            <span class="radius secondary label" style="font-size: 0.8rem;">Members</span>
          </a>
          <a href="/presentations/">
            <span class="radius secondary label" style="font-size: 0.8rem;">Presentations</span>
          </a>
          <a href="https://duka.nairuby.org">
            <span class="radius secondary label" style="font-size: 0.8rem;">Shop</span>
          </a>
        </header>
      </div>
    </div>
    <div class="row">
      <div class="small-11 small-centered medium-10 medium-centered large-9 large-centered column clearfix">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
  </div>

  <script>
    $(document).foundation();
  </script>

  {% include google-analytics.html %}

</body>
</html>
