<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

{% include head.html %}

<body>

  <div id="wrapper">
    <header class="row text-center">
      <div class="small-11 small-centered medium-10 medium-centered large-9 large-centered column clearfix" style="border-bottom: none;">
        <a href="/"><img src="/assets/images/logo_128x128.png" width="64" height="64"></a>
        <h1 class="title">Nairuby</h1>
      </div>
    </header>

    <div class="row">
      <div class="small-11 small-centered medium-10 medium-centered large-9 large-centered column clearfix">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
  </div>

  <script>
    $(document).foundation();
  </script>

  {% include google-analytics.html %}

</body>
</html>
